CompileFlags:
    Add:
        - -Ic:\workspace\mcu\tools\gcc-arm-none-eabi-10.3-2021.10-win32\arm-none-eabi\include\c++\10.3.1
        - -Ic:\workspace\mcu\tools\gcc-arm-none-eabi-10.3-2021.10-win32\arm-none-eabi\include\c++\10.3.1\arm-none-eabi
        - -Ic:\workspace\mcu\tools\gcc-arm-none-eabi-10.3-2021.10-win32\arm-none-eabi\include\c++\10.3.1\backward
        - -Ic:\workspace\mcu\tools\gcc-arm-none-eabi-10.3-2021.10-win32\lib\gcc\arm-none-eabi\10.3.1\include
        - -Ic:\workspace\mcu\tools\gcc-arm-none-eabi-10.3-2021.10-win32\lib\gcc\arm-none-eabi\10.3.1\include-fixed
        - -Ic:\workspace\mcu\tools\gcc-arm-none-eabi-10.3-2021.10-win32\arm-none-eabi\include
        - -Id:\software\gcc\10 2021.10\arm-none-eabi\include\c++\10.3.1
        - -Id:\software\gcc\10 2021.10\arm-none-eabi\include\c++\10.3.1\arm-none-eabi
        - -Id:\software\gcc\10 2021.10\arm-none-eabi\include\c++\10.3.1\backward
        - -Id:\software\gcc\10 2021.10\lib\gcc\arm-none-eabi\10.3.1\include
        - -Id:\software\gcc\10 2021.10\lib\gcc\arm-none-eabi\10.3.1\include-fixed
        - -Id:\software\gcc\10 2021.10\arm-none-eabi\include
        - -Ie:\wt\softwaretools\gcc\10 2021.10\arm-none-eabi\include\c++\10.3.1
        - -Ie:\wt\softwaretools\gcc\10 2021.10\arm-none-eabi\include\c++\10.3.1\arm-none-eabi
        - -Ie:\wt\softwaretools\gcc\10 2021.10\arm-none-eabi\include\c++\10.3.1\backward
        - -Ie:\wt\softwaretools\gcc\10 2021.10\lib\gcc\arm-none-eabi\10.3.1\include
        - -Ie:\wt\softwaretools\gcc\10 2021.10\lib\gcc\arm-none-eabi\10.3.1\include-fixed
        - -Ie:\wt\softwaretools\gcc\10 2021.10\arm-none-eabi\include
        - -Ic:\program files (x86)\gnu arm embedded toolchain\10 2021.10\arm-none-eabi\include\c++\10.3.1
        - -Ic:\program files (x86)\gnu arm embedded toolchain\10 2021.10\arm-none-eabi\include\c++\10.3.1\arm-none-eabi
        - -Ic:\program files (x86)\gnu arm embedded toolchain\10 2021.10\arm-none-eabi\include\c++\10.3.1\backward
        - -Ic:\program files (x86)\gnu arm embedded toolchain\10 2021.10\lib\gcc\arm-none-eabi\10.3.1\include
        - -Ic:\program files (x86)\gnu arm embedded toolchain\10 2021.10\lib\gcc\arm-none-eabi\10.3.1\include-fixed
        - -Ic:\program files (x86)\gnu arm embedded toolchain\10 2021.10\arm-none-eabi\include
    CompilationDatabase: ./build/Debug
    Compiler: C:\Program Files (x86)\GNU Arm Embedded Toolchain\10 2021.10\bin\arm-none-eabi-gcc.exe
